@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 500px;
  height: 150px;
  background-image: url("./assets/test.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 18px;
  margin-top: 10px;
  border-radius: 10px;
}

.main-container h3 {
  font-family: "Kanit", sans-serif;
  color: white;
  font-size: 20px;
  text-shadow: 1px 1px 1px black;
}
